body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;

}

.quadrado {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: white;
    text-align: center;
}

.madrugada {
    background-color: black;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: url(img/madrugada.png) no-repeat center;
    background-size: 250px;
}

.dia {
    background-color: black;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: url(img/sol.png) no-repeat center;
    background-size: 250px;
}

.meioDia {
    background-color: black;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: url(img/meioDia.png) no-repeat center;
    background-size: 250px;
}

.tarde {
    background-color: black;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: url(img/tarde-gif.gif) no-repeat center;
    background-size: 260px;
}


.noite {
    background-color: black;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: url(img/noite-gif.gif) center;
    background-size: 247px;
}


.turno {
    color: black;
    font-weight: 20px;
    margin-bottom: -55px;
}

.branco {
    color: white;
}

.data {
    color: black;
    margin-top: -55px;
}

.branco2 {
    margin-top: 50px;
    color: white;
    font-weight: lighter;
}
